* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.header__menu {
    background: #222222;
    min-height: 75px;
}

.search_form {
    display: flex;
}

.search_btn {
    margin-left: 41px;
    margin-right: 20px;
}

.search_lbl {
    width: 0;
    height: 0;
    border: 0;
}

.search_lbl:focus {
    width: 150px;
    height: 30px;
    border: 3px solid #F16D7F;
    outline: none;
}

.container__menu {
    display: flex;
    justify-content: space-between;
    padding: 18px;
}

.menu_left {
    width: 111px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.menu_right {
    width: 168px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: relative;
}

.basket {
    position: relative;
}

.counter {
    width: 19px;
    height: 19px;
    display: block;
    position: absolute;
    background-color: #F16D7F;
    color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    left: 20px;
}

.checklabel {
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    border: 0;
}

.checkbox[type="checkbox"] {
    display: none;
}

.menu_list {
    width: 188px;
    display: none;
    list-style-type: none;
    height: 764px;
    padding: 0;
    position: absolute;
    top: 58px;
    right: -207px;
    z-index: 1;
    background: #FFFFFF;
}

.menu_header {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
    margin: 37px 0 0 34px;
}

.menu_item:first-child {
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
    margin: 24px 0 12px 34px;
}

.menu_item {
    list-style-type: none;
    margin: 0 0 11px 55px;
}

.checkbox[type="checkbox"]:checked~.menu_list {
    display: block;
}

.menu_link {
    text-decoration: none;
    list-style-type: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.menu_line {
    display: block;
    width: 90%;
    height: 2px;
    background-color: #FFFFFF;
    position: relative;
}

.menu_line::before, .menu_line::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
}

.checkbox[type="checkbox"]:checked~.checklabel>.menu_line {
    background-color: transparent;
}

.checkbox[type="checkbox"]:checked~.checklabel>.menu_line::before {
    transform: rotate(45deg);
    top: 0px;
}

.checkbox[type="checkbox"]:checked~.checklabel>.menu_line::after {
    transform: rotate(-45deg);
    top: 0px;
}

.menu_line::before {
    top: 10px;
    left: 0;
}

.menu_line::after {
    top: -10px;
    left: 0;
}

.header {
    background: #F1E4E6;
    display: flex;
    justify-content: space-around;
}

.header_regist {
    background: #F1E4E6;
    display: flex;
    justify-content: space-around;
}

.header__content {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1600px;
}

.header__content_img {
    width: 50%;
    height: 100%;
}

.header_catalog__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 148px;
}

.pink_catalog_text {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.catalog_link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.catalog_bread_link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.catalog_way {
    list-style: none;
    width: 209px;
    height: 17px;
    display: flex;
    justify-content: space-between;
}

.catalog_way_first_item {
    display: block;
}

.catalog_way_item {
    /* display: inline; */
    position: relative;
}

.catalog_way_item::before {
    content: "/\00a0";
    position: absolute;
    left: -10px;
}

.catalog_target_link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.header_catalog {
    background: #F1E4E6;
    display: flex;
    justify-content: space-around;
}

.header__text {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 29px;
    color: #222222;
    position: relative;
}

.header__text::before {
    content: "";
    width: 12px;
    height: 92px;
    background: #F16D7F;
    position: absolute;
    top: -10px;
    left: -16px;
}

.pink__text {
    color: #F16D7F;
    ;
}

.little__text {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 58px;
    color: #222222;
}

.pink_box {
    width: 12px;
    height: 92px;
    background: #F16D7F;
    margin-right: 18px;
    margin-bottom: 15px;
}

.catalog {
    margin-top: 64px;
}

.catalog__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.catalog_link {
    position: relative;
}

.catalog_text {
    position: absolute;
    text-align: center;
    width: 154px;
    height: 50px;
    top: 43%;
    left: 25%;
}

.catalog_text_header {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.catalog__bottom {
    position: relative;
    margin-bottom: 96px;
}

.catalog__pink__text {
    color: #F16D7F;
    font-weight: 700;
    font-size: 24px;
}

.catalog_text_bottom {
    position: absolute;
    text-align: center;
    width: 160px;
    height: 50px;
    top: 43%;
    left: 43%;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    filter: brightness(100%)
}

.heading {
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.text {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.card_list {
    display: flex;
    margin-top: 48px;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap;
}

.card {
    background: #F8F8F8;
    width: 360px;
    position: relative;
    margin-bottom: 30px;
}

.card_button {
    display: none;
    position: absolute;
    top: 38%;
    left: 35%;
    justify-content: center;
    align-items: center;
    width: 38.3%;
    min-height: 43px;
    border: 1px solid #FFFFFF;
    background: transparent;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.card:hover .card_button {
    display: flex;
}

.card:hover .card_button:hover {
    color: black;
    background-color: gray;
}

.card:hover .card_button:hover .fas {
    color: black;
    background-color: gray;
}

.card:hover .card_button:active {
    color: #FFFFFF;
    background-color: transparent;
}

.card:hover .card_button:active .fas {
    color: #FFFFFF;
    background-color: transparent;
}

.card:hover .card_img {
    filter: brightness(50%);
}

.card-flex {
    display: flex;
    flex-direction: column;
}

.header_card {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-top: 25px;
    padding: 0 0 0 18px;
}

.card_text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 12px;
    padding: 0 28px 0 18px;
}

.card_pink {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-top: 18px;
    padding: 0 0 20px 18px;
}

.browse_all {
    margin-top: 48.5px;
    display: flex;
    justify-content: center;
}

.prefooter__button {
    width: 211px;
    height: 47px;
    background: white;
    border: 1px solid #FF6A6A;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
}

.footer_img {
    border-radius: 50%;
}

.prefooter__button:hover {
    background: #F16D7F;
    color: #FFFFFF;
}

.prefooter__button:active {
    background: #FFFFFF;
    color: #F16D7F;
}

.prefooter {
    height: 341px;
    background: #222224;
    margin-top: 95.5px;
    display: flex;
    align-items: center;
}

.prefooter_content {
    display: flex;
    justify-content: space-between;
}

.prefooter_header {
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 28px;
    margin-bottom: 16px;
}

.prefooter_text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: justify;
    color: #FBFBFB;
}

.delivery {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 360px;
}

.subcribe {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer {
    background-image: url(../img/footer/footer_bg.jpg);
    background-repeat: no-repeat;
    height: 448px;
    display: flex;
    align-items: center;
}

.footer__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    text-align: center;
}

.footer_img {
    border-radius: 50%;
    margin: 0 0 30px 0;
}

.footer__text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.footer__text_italic {
    font-style: italic;
}

.footer__right__text {
    text-align: center;
    margin: 0 0 30px 0;
    font-size: 18px;
    line-height: 29px;
    color: #222224;
    font-weight: 400;
}

.footer__subscribe {
    text-align: center;
    font-size: 24px;
}

.footer__right {
    display: flex;
    flex-direction: column;
}

.input__block {
    display: flex;
    height: 50px;
}

.input__text {
    border-radius: 25px 0 0 25px;
    background: #E1E1E1;
    border: 0;
    height: 50px;
    width: 75%;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
}

.input__button {
    border-radius: 0 25px 25px 0;
    background: #F16D7F;
    border: 0;
    height: 50px;
    width: 25%;
    line-height: 17px;
    color: #FFFFFF;
}

.rights {
    background: #222224;
}

.rights__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.rights_block {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons_svg:hover .icons_svg_fill {
    fill: #F16D7F;
}

.icons_svg:hover .icons_svg_draw {
    fill: #FFFFFF;
}

.filters {
    margin: 51px 0 0 0;
}

.filter_category {
    position: relative;
}

.filter_list {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #FFFFFF;
    width: 360px;
    margin-top: 18px;
}

.catalog_filter_menu[type="checkbox"] {
    display: none;
}

.catalog_filter_menu[type="checkbox"]:checked~.filter_list {
    display: block;
}

.filter_btn {
    width: 100%;
}

.filter_btn>.filter_text {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 16px 0;
}

.filter_btn>.filter_text:hover {
    color: #EF5B70;
}

.catalog_filter_menu[type="checkbox"]:checked~.filter_btn>.filter_text {
    color: #EF5B70;
}

.catalog_filter_menu[type="checkbox"]:checked~.filter_btn>.filter_text:hover {
    color: #000000;
}

.filter_container {
    display: flex;
    width: 660px;
    justify-content: space-between;
}

.filter_menu_title {
    padding: 11px;
    width: 100%;
    margin-bottom: 18px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    box-sizing: border-box;
    color: #EF5B70;
    list-style-type: none;
    border-bottom: 1px solid #EBEBEB;
    position: relative;
}

.filter_menu_title::before {
    content: "";
    display: block;
    width: 5px;
    height: 37px;
    background-color: #EF5B70;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.filter_sub_item {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    list-style-type: none;
    margin-bottom: 11px;
    margin-left: 34px;
}

.filter_right {
    display: flex;
    width: 300px;
    justify-content: space-around;
}

.filter_right_text {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.filter_size_checkbox {
    display: none;
}

.size_list {
    display: none;
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
}

.filter_size {
    position: relative;
}

.filter_size_checkbox[type="checkbox"]:checked~.filter_size_list {
    display: flex;
}

.filter_size_list {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    background-color: #FFFFFF;
    width: 79px;
    padding: 9.5px 9.5px 9.5px 31px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.size_list:nth-child(1):checked~.size_title:nth-child(2)::before, .size_list:nth-child(3):checked~.size_title:nth-child(4)::before, .size_list:nth-child(5):checked~.size_title:nth-child(6)::before, .size_list:nth-child(7):checked~.size_title:nth-child(8)::before {
    background-image: url('../img/catalog/galka.png');
    background-size: cover;
    background-position: center;
}

.size_title::before {
    content: "";
    width: 12px;
    height: 12px;
    border: 1px solid #EBEBEB;
    position: absolute;
    left: 10px;
}

.size_title {
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
}

.slider {
    display: flex;
    justify-content: space-between;
    height: 777px;
    align-items: center;
    background-color: #F7F7F7;
    background-image: url(../img/product/product1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.arrow_left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    background: rgba(42, 42, 42, 0.15);
}

.description_container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 601px;
}

.description {
    width: 1141px;
    height: 601px;
    border: 1px solid #EAEAEA;
    background-color: #FFFFFF;
    margin: -66px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.collection {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #F16D7F;
    /* border-bottom: 3px solid #EF5B70; */
    padding: 0 0 12px 0;
}

.collection::after {
    position: absolute;
    top: 15%;
    left: 47%;
    display: block;
    content: "";
    background-color: #EF5B70;
    width: 63px;
    height: 3px;
}

.name_of_product {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
}

.product_descrition {
    width: 555px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
}

.product_price {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
}

.product_price::after {
    position: absolute;
    top: 15%;
    left: 47%;
    display: block;
    content: "";
    background-color: #000;
    width: 63px;
    height: 3px;
}

.product_options {
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.product_options_choose {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-transform: uppercase;
}

.product_options_list {
    display: none;
    background: #ffffff;
    border: 0;
}

.product_options_choose::after {
    position: absolute;
    content: "";
    width: 26px;
    height: 22px;
    background-image: url(../img/product/choose.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.product_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 211px;
    height: 47px;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background-color: #FFFFFF;
    border: 1px solid #F26376;
    position: relative;
}

.product_button_img {
    fill: #EF5B70;
    left: 12%;
    position: absolute;
}

.product_button:hover {
    color: #Fff;
    background-color: #EF5B70;
    fill: #FFFFFF;
}

.cart {
    display: flex;
    margin-top: 96px;
    margin-bottom: 72.5px;
}

.cart_item {
    display: flex;
    flex-direction: column;
}

.cart_list_item {
    width: 652px;
    display: flex;
    list-style-type: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.13);
    margin-bottom: 40px;
    position: relative;
}

.cart_description_item {
    list-style-type: none;
    font-size: 22px;
    font-weight: bold;
    color: #575757;
    margin-left: 31px;
}

.cart_input {
    width: 43px;
    height: 24px;
    border: 1px solid #EAEAEA;
    margin: 0 0 0 24px;
    font-size: 18px;
    line-height: 22px;
    color: #656565;
    text-align: center;
    font-weight: bold;
}

.cart_description_item:first-child {
    font-weight: bold;
    width: 262px;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    margin-bottom: 42px;
    margin-top: 22px;
}

.cart_item_delete {
    position: absolute;
    left: 90%;
    border: 0;
    float: right;
    background-color: #fff;
    top: 10%;
}

.cart_price {
    color: #EF5B70;
}

.cart_delivery_adress {
    height: 306px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 128px;
}

.cart_delivery_header {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

.cart_delivery_input {
    padding-left: 17px;
    width: 360px;
    height: 45px;
    border: 1px solid #A4A4A4;
    font-size: 13px;
    line-height: 16px;
    color: #222222;
}

.cart_delivery_button {
    text-transform: uppercase;
    width: 100px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #A4A4A4;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A
}

.cart_checkout {
    width: 360px;
    height: 214px;
    background-color: #f5f3f3;
    margin-left: 128px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
}

.checkout_sub {
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    padding-right: 34px;
}

.checkout_grand {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    padding-right: 37px;
}

.checkout_grand::after {
    top: 60%;
    left: 44px;
    position: absolute;
    content: "";
    width: 275px;
    height: 1px;
    background-color: #000000;
}

.checkout_button {
    background: #F16D7F;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: 0;
    Width: 273px;
    Height: 50px;
    margin-right: 43px;
}

.cart_buttons {
    justify-content: space-between;
    display: flex;
}

.cart_buttons_item {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #A4A4A4;
    padding: 17px 41px 16px 39px;
}

.regist {
    display: flex;
    margin-top: 64px;
}

.regist_data {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin-right: 128px;
    height: 516px;
    justify-content: space-between;
}

.regist_data_header {
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

.regist_input {
    width: 360px;
    height: 45px;
    border: 1px solid #A4A4A4;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    padding-left: 17px;
}

.regist_data_header {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

.pass_limit {
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin: 0 0 39px 0;
}

.regist_bonus_text {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 22px;
    color: #000000;
}

.regist_bonus_list {
    list-style-type: none;
    position: relative;
}

.regist_bonus_list_item::before {
    position: absolute;
    left: 0;
    margin-top: 10px;
    content: "";
    width: 20px;
    height: 16px;
    background-image: url(../img/list_marker.png);
}

.regist_bonus_list_item {
    margin-bottom: 16px;
    margin-left: 40px;
}

.regist_button {
    width: 167px;
    height: 50px;
    background: #F16D7F;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: 0;
}

.regist_button_svg {
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    .menu_list {
        top: 58px;
        left: 16px;
        width: 170px;
    }
    .header__content {
        padding: 0 33px 0 0;
        box-sizing: border-box;
        justify-content: space-between;
    }
    .header__text {
        font-size: 44px;
        position: relative;
    }
    .header__text:before {
        content: "";
        display: block;
        width: 12px;
        height: 92px;
        background-color: #F16D7F;
        position: absolute;
        top: -12px;
        left: -28px;
    }
    .little__text {
        font-size: 24px;
    }
    .pink_box {
        display: none;
    }
    .container {
        max-width: 100%;
    }
    .catalog {
        margin: 20px 0 154px 0;
        padding: 0 16px;
        box-sizing: border-box;
    }
    .catalog__header {
        /*         margin-bottom: 20px; */
        margin: 0 0 20px 0;
    }
    .catalog_link {
        display: block;
        width: 100%;
        max-width: 232px;
        height: 167px;
    }
    .catalog_link img {
        width: 100%;
        height: 100%;
    }
    .catalog__bottom {
        margin: 0;
    }
    .catalog__bottom a {
        display: block;
        width: 100%;
        height: 167px;
    }
    .catalog__bottom a>img {
        width: 100%;
        height: 100%;
    }
    .card_list {
        margin: 0;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .text {
        margin: 0 0 74px 0;
    }
    .card {
        margin: 0 0 10px 0;
    }
    .browse_all {
        margin: 32px 0 0 0;
    }
    .prefooter {
        min-height: 610px;
        margin: 64px 0 0 0;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .prefooter_content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 48px 48px 64px 48px;
        box-sizing: border-box;
    }
    .delivery {
        margin: 0 0 48px 0;
    }
    .delivery:last-child {
        margin: 0;
    }
    .footer {
        padding: 64px 20px 140px 20px;
        box-sizing: border-box;
    }
    .subcribe {
        display: flex;
        flex-wrap: wrap;
    }
    .footer__left {
        margin: 0 auto 85px auto;
    }
    .footer__right {
        width: 100%;
        max-width: 361px;
    }
    .footer {
        background-position: 23% 46%;
        background-size: 361%;
    }
    .rights_block {
        padding: 0 32px;
    }
    .filter_container {
        width: 100%;
    }
    .card:nth-child(3) {
        display: none;
    }
    .filters {
        margin: 24px 0 40px 0;
    }
    .slider {
        background-image: url(../img/product/product2.png);
        width: 100%;
        height: 624px;
    }
    .description {
        width: 100%;
    }
    .product_descrition {
        width: 100%;
    }
    .footer {
        height: 693px;
    }
    .subcribe {
        flex-direction: column;
    }
    .cart {
        flex-direction: column;
        align-items: center;
    }
    .cart_buttons {
        justify-content: space-around;
    }
    /* .cart_buttons_item {
        margin: 0 48px 0 0;
    } */
    .cart_list {
        flex-direction: column;
    }
    .cart_list_item {
        width: 734px;
    }
    .cart_delivery {
        display: flex;
    }
    .cart_delivery_adress {
        margin: 0 0 0 0;
    }
    .cart_checkout {
        margin: 40px 0 0 15px;
    }
    .regist_bonus_text {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }
    .pink_catalog_text {
        margin-left: 16px;
    }
    .regist_data {
        margin: 0 42px 0 16px;
    }
}

@media only screen and (max-width: 426px) {
    .login {
        display: none;
    }
    .basket {
        display: none;
    }
    .menu_right {
        justify-content: flex-end;
    }
    .header {
        min-height: 363px;
    }
    .header_catalog {
        height: 100%;
    }
    .header__content_img {
        display: none;
    }
    .header__content {
        padding: 0;
        justify-content: center;
    }
    .header_catalog__content {
        flex-direction: column;
        justify-content: space-around;
    }
    .catalog_text_bottom {
        top: 25%;
        left: 30%;
    }
    .catalog {
        margin: 64px 0 32px 0;
    }
    .catalog__header {
        align-items: center;
        flex-direction: column;
        margin: 0;
    }
    .catalog_link {
        padding: 0 0 32px 0;
        display: block;
        width: 100%;
        max-width: 343px;
        height: 248px;
    }
    .catalog__bottom_img {
        max-height: 111px;
        max-width: 343px;
    }
    .catalog__bottom>a {
        display: flex;
        justify-content: center;
    }
    .card_list {
        display: flex;
        justify-content: center;
    }
    .footer {
        background-color: #f5f5f5;
        background-position: 23% 100%;
        min-height: 550px;
    }
    .rights_block {
        flex-direction: column-reverse;
        padding: 43px 0 9px 0;
    }
    .cart_list_item {
        width: 358px;
        height: 188px;
    }
    .cart_list_item>img {
        width: 143px;
        height: 188px;
    }
    .cart_description_item:first-child {
        width: 142px;
        height: 35px;
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
    }
    .cart_description_item {
        font-size: 14px;
        line-height: 17px;
        color: #575757;
    }
    .cart_buttons_item {
        width: 175px;
        height: 33px;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #575757;
        padding: 0;
        margin-bottom: 48px;
    }
    .cart_delivery {
        display: block;
        width: 360px;
    }
    .cart_delivery_header {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
    }
    .cart_checkout {
        margin: 48px 0 0 0px;
    }
    .cart_delivery_button {
        text-transform: none;
    }
    .regist {
        display: flex;
        flex-direction: column;
        height: none;
    }
    .regist_bonus {
        margin: 40px 9px 100px 9px;
    }
    .prefooter {
        display: none;
    }
    .header_regist {
        height: 148px;
    }
}