* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header__menu {
    background: #222222;
    height: 75px;
}

.search_form {
    display: flex;
}

.search_btn {
    margin-left: 41px;
    margin-right: 20px;
}

.search_lbl {
    width: 0;
    height: 0;
    border: 0;
}

.search_lbl:focus {
    width: 150px;
    height: 30px;
    border: 3px solid #F16D7F;
    outline: none;
}

.container__menu {
    display: flex;
    justify-content: space-between;
    padding: 18px;
}

.menu_left {
    width: 111px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.menu_right {
    width: 168px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: relative;
}

.checklabel {
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    border: 0;
}

.checkbox[type="checkbox"] {
    display: none;
}

.menu_list {
    width: 331px;
    display: none;
    list-style-type: none;
    height: 764px;
    padding: 0;
    position: absolute;
    top: 58px;
    right: -350px;
    z-index: 1;
    background: #FFFFFF;
}

.menu_header {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
    margin: 37px 0 0 34px;
}

.menu_item:first-child {
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
    margin: 24px 0 12px 34px;
}

.menu_item {
    list-style-type: none;
    margin: 0 0 11px 55px;
}

.checkbox[type="checkbox"]:checked~.menu_list {
    display: block;
}

.menu_link {
    text-decoration: none;
    list-style-type: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.menu_line {
    display: block;
    width: 90%;
    height: 2px;
    background-color: #FFFFFF;
    position: relative;
}

.menu_line::before, .menu_line::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
}

.checkbox[type="checkbox"]:checked~.checklabel>.menu_line {
    background-color: transparent;
}

.checkbox[type="checkbox"]:checked~.checklabel>.menu_line::before {
    transform: rotate(45deg);
    top: 0px;
}

.checkbox[type="checkbox"]:checked~.checklabel>.menu_line::after {
    transform: rotate(-45deg);
    top: 0px;
}

.menu_line::before {
    top: 10px;
    left: 0;
}

.menu_line::after {
    top: -10px;
    left: 0;
}

.header {
    background: #F1E4E6;
    display: flex;
    justify-content: space-around;
}

.header__content {
    display: flex;
    align-items: center;
    position: relative;
    width: 1600px;
}

.header_catalog__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 148px;
}

.pink_catalog_text {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.catalog_link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.catalog_target_link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.header__text {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 29px;
    color: #222222;
}

.pink__text {
    color: #F16D7F;
    ;
}

.little__text {
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 58px;
    color: #222222;
}

.pink_box {
    width: 12px;
    height: 92px;
    background: #F16D7F;
    margin-right: 18px;
    margin-bottom: 15px;
}

.catalog {
    margin-top: 64px;
}

.catalog__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.catalog_link {
    position: relative;
}

.catalog_text {
    position: absolute;
    text-align: center;
    width: 154px;
    height: 50px;
    top: 43%;
    left: 25%;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    filter: brightness(100%)
}

.catalog__bottom {
    position: relative;
    margin-bottom: 96px;
}

.catalog__pink__text {
    color: #F16D7F;
    font-size: 24px;
}

.catalog_text_bottom {
    position: absolute;
    text-align: center;
    width: 154px;
    height: 50px;
    top: 43%;
    left: 43%;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    filter: brightness(100%)
}

.heading {
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.text {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.card_list {
    display: flex;
    margin-top: 48px;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap;
}

.card {
    background: #F8F8F8;
    width: 360px;
    position: relative;
    margin-bottom: 30px;
}

.card_button {
    display: none;
    position: absolute;
    top: 38%;
    left: 35%;
    justify-content: center;
    align-items: center;
    width: 38.3%;
    min-height: 43px;
    border: 1px solid #FFFFFF;
    background: transparent;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.card:hover .card_button {
    display: flex;
}

.card:hover .card_button:hover {
    color: black;
    background-color: gray;
}

.card:hover .card_button:hover .fas {
    color: black;
    background-color: gray;
}

.card:hover .card_button:active {
    color: #FFFFFF;
    background-color: transparent;
}

.card:hover .card_button:active .fas {
    color: #FFFFFF;
    background-color: transparent;
}

.card:hover .card_img {
    filter: brightness(50%);
}

.card-flex {
    display: flex;
    flex-direction: column;
}

.header_card {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-top: 25px;
}

.card_text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 12px;
}

.card_pink {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-top: 18px;
}

.browse_all {
    margin-top: 48.5px;
    display: flex;
    justify-content: center;
}

.prefooter__button {
    width: 211px;
    height: 47px;
    background: white;
    border: 1px solid #FF6A6A;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
}

.prefooter__button:hover {
    background: #F16D7F;
    color: #FFFFFF;
}

.prefooter__button:active {
    background: #FFFFFF;
    color: #F16D7F;
}

.prefooter {
    height: 341px;
    background: #222224;
    margin-top: 95.5px;
    display: flex;
    align-items: center;
}

.prefooter_content {
    display: flex;
    justify-content: space-between;
}

.prefooter_header {
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 28px;
    margin-bottom: 16px;
}

.prefooter_text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: justify;
    color: #FBFBFB;
}

.delivery {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 360px;
}

.subcribe {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer {
    background-image: url(../img/footer/footer_bg.jpg);
    height: 448px;
    display: flex;
    align-items: center;
}

.footer__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    text-align: center;
}

.footer__text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.footer__right__text {
    text-align: center;
}

.footer__right {
    display: flex;
    flex-direction: column;
}

.input__block {
    display: flex;
    height: 50px;
}

.input__text {
    border-radius: 25px 0 0 25px;
    background: #E1E1E1;
    border: 0;
    height: 50px;
    width: 75%;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
}

.input__button {
    border-radius: 0 25px 25px 0;
    background: #F16D7F;
    border: 0;
    height: 50px;
    width: 25%;
    line-height: 17px;
    color: #FFFFFF;
}

.rights {
    background: #222224;
}

.rights__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.rights_block {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

i {
    color: #FFFFFF;
    font-size: 25px;
}

.fab:hover {
    color: #F16D7F;
}

.filter_category {
    position: relative;
}

.filter_list {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #FFFFFF;
    width: 360px;
    margin-top: 18px;
}

.catalog_filter_menu[type="checkbox"] {
    display: none;
}

.catalog_filter_menu[type="checkbox"]:checked~.filter_list {
    display: block;
}

.filter_btn {
    width: 100%;
}

.filter_btn>.filter_text {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 16px 0;
}

.filter_btn>.filter_text:hover {
    color: #EF5B70;
}

.catalog_filter_menu[type="checkbox"]:checked~.filter_btn>.filter_text {
    color: #EF5B70;
}

.catalog_filter_menu[type="checkbox"]:checked~.filter_btn>.filter_text:hover {
    color: #000000;
}

.filter_container {
    display: flex;
    width: 660px;
    justify-content: space-between;
}

.filter_menu_title {
    padding: 11px;
    width: 100%;
    margin-bottom: 18px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    box-sizing: border-box;
    color: #EF5B70;
    list-style-type: none;
    border-bottom: 1px solid #EBEBEB;
    position: relative;
}

.filter_menu_title::before {
    content: "";
    display: block;
    width: 5px;
    height: 37px;
    background-color: #EF5B70;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.filter_sub_item {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    list-style-type: none;
    margin-bottom: 11px;
    margin-left: 34px;
}

.filter_right {
    display: flex;
    width: 300px;
    justify-content: space-around;
}

.filter_right_text {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.filter_size_checkbox {
    display: none;
}

.size_list {
    display: none;
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
}

.filter_size {
    position: relative;
}

.filter_size_checkbox[type="checkbox"]:checked~.filter_size_list {
    display: flex;
}

.filter_size_list {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    background-color: #FFFFFF;
    width: 79px;
    padding: 9.5px 9.5px 9.5px 31px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.size_list:nth-child(1):checked~.size_title:nth-child(2)::before, .size_list:nth-child(3):checked~.size_title:nth-child(4)::before, .size_list:nth-child(5):checked~.size_title:nth-child(6)::before, .size_list:nth-child(7):checked~.size_title:nth-child(8)::before {
    background-image: url('../img/catalog/galka.png');
    background-size: cover;
    background-position: center;
}

.size_title::before {
    content: "";
    width: 12px;
    height: 12px;
    border: 1px solid #EBEBEB;
    position: absolute;
    left: 10px;
}

.size_title {
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
}

.slider {
    display: flex;
    justify-content: space-between;
    height: 777px;
    align-items: center;
    background-color: #F7F7F7;
}

.arrow_left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    background: rgba(42, 42, 42, 0.15);
}

.description_container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 601px;
}

.description {
    width: 1141px;
    height: 601px;
    border: 1px solid #EAEAEA;
    background-color: #FFFFFF;
    position: absolute;
    top: -66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.collection {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #F16D7F;
    border-bottom: 3px solid #EF5B70;
    padding: 0 0 12px 0;
}

.name_of_product {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
}

.product_descrition {
    width: 555px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;

}